@import url(https://fonts.googleapis.com/css?family=Roboto:400,300italic,500,500italic,700,900);
.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.header-front{
    background-color: yellowgreen;
    height:550px;
}
.header-front-menu2{
    margin: 0;
    padding:0;
}
.page-logo img{
    width:210px;
}
.navbar-image-menu{
    
}
.navbar-image-menu img{
    width: 60px;
}
.content0{
    margin-top:10px;
    margin-bottom: 10px;
}
.content1{
    height: 650px;
}

.content2{
    height: 350px;
    opacity: 0.6;
    transform: scale(0.9,0.9);
}
.content2-background{
  background-color: yellowgreen;
  position: absolute;
  height: 550px;
  width: 100%;
}
.content2-content{
    
}
.content-of-content2{
    opacity:1;
    position:absolute;
    top: 10%;
    left: 20%;
    
}
.content-of-content2-background{
    background-color:white;
    position: absolute;
    height: 360px;
    width: 100%;
}
footer{
    background-color: gray;
    height: 60px;
    color:whitesmoke;
}

